* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*=============== Colores TOOLTIP ===============*/
  --rt-color-white: #fff;
  --rt-color-dark: #2d2d2d;
  --rt-color-success: #02be6e;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
}
body {
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}
ul {
  list-style: none;
}
img,
video,
audio {
  user-select: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
svg {
  min-width: 25px;
  min-height: 25px;
  width: 25px;
  height: 25px;
  display: block;
}
/*=============== utilidades ===============*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-succes {
  color: #02be6e;
  transition: all 0.3s ease;
}
.text-succes-hover {
  color: #00d277;
}
.text-danger {
  color: #de3535;
  transition: all 0.3s ease;
}
.text-danger-hover {
  color: #ff3f3f;
}
.webkit-box-1,
.webkit-box-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0;
}
.webkit-box-1 {
  -webkit-line-clamp: 1;
}
.webkit-box-2 {
  -webkit-line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
.sky {
  color: rgb(49, 202, 189);
}
.btn {
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  text-align: center;
}
.btn-primary {
  background-color: #054861;
  color: #fff;
}
.btn-primary:hover,
.btn-primary.active {
  background-color: #0c6b9f;
  color: #fff;
}
.btn-secondary {
  background-color: #2b2b2b;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary.active {
  background-color: #333333;
  color: #fff;
}
.btn-danger {
  background-color: #de3535;
  color: #fff;
}
.btn-danger:hover,
.btn-danger.active {
  background-color: #ff3f3f;
  color: #fff;
}
.btn-success {
  background-color: #02be6e;
  color: #fff;
}
.btn-success:hover,
.btn-success.active {
  background-color: #00d277;
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*=============== header ===============*/
.header {
  background-color: #202020;
  position: relative;
  z-index: 100;
}
.header__aside {
  width: 70px;
  height: 100vh;
  background: #202020;
  position: absolute;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #333333;
}
.header__logo {
  margin-bottom: 30px;
}
.header__logo img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  object-fit: contain;
}
.header__pages {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  column-gap: 10px;
  row-gap: 10px;
  overflow: auto;
}
.header__pages::-webkit-scrollbar-track {
  background: transparent;
}
.header__pages::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.header__pages::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 5px;
}
.header__pages a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  background: transparent;
  transition: all 0.3s ease;
  padding: 6px 10px;
  border-radius: 4px;
}
.header__pages a:hover {
  color: #fff;
  background: #333333;
}
.header__pages a svg {
  width: 30px;
  height: 30px;
}
.header__configuracion {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.header__configuracion svg {
  width: 30px;
  height: 30px;
}
.header__configuracion:hover {
  color: #fff;
  background: #333333;
}
.header__navegacion {
  height: 70px;
  width: calc(100% - 70px);
  margin-left: auto;
  padding: 10px 16px;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  row-gap: 10px;
  border-bottom: 1px solid #333333;
}
.header__left {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__titulo {
  font-size: 24px;
  font-weight: 900;
}
.header__rigth {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
/*=============== contenido ===============*/
.contenido {
  width: calc(100% - 70px);
  height: calc(100vh - 70px);
  margin-left: auto;
  overflow: auto;
  padding: 10px;
}
/*=============== audios ===============*/
.audios {
  /*   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  column-gap: 10px;
  row-gap: 10px; */
  width: 100%;
  padding-bottom: 120px;
  user-select: none;
}
.audio {
  /*   flex: 1;
  height: 280px;
  position: relative;
  background: #202020; */
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(113, 113, 113, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}
.audio:last-child {
  border-bottom: 1px solid rgba(113, 113, 113, 0.5);
}
.audio:hover {
  background: rgba(30, 255, 0, 0.118);
  backdrop-filter: blur(100px);
}
.audio__cover {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  transition: all 0.3s ease;
}
.audio__cover button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(2px);
  color: #63ff69;
}
.audio__cover button svg {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
}
.audio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.audio__titulo {
  font-size: 16px;
  font-weight: 600;
}
.audios__informacion {
  position: fixed;
  left: 70px;
  width: calc(100% - 70px);
  height: 120px;
  bottom: 0;
  backdrop-filter: blur(50px);
  z-index: 99;
  user-select: none;
  transition: 0.3s all ease;
}
.audios__informacion--show {
  height: calc(100vh - 70px);
}
.audios__chevronUp {
  position: absolute;
  top: -50px;
  left: 5px;
  width: 46px;
  height: 46px;
  border-radius: 10px;
  background: #161616;
  color: #00d277;
  border: 1px solid #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}
.audios__chevronUp:hover {
  background: #191919;
}
.audios__centro {
  width: 100%;
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.audios__titulo {
  text-align: center;
  font-size: 20px;
}
.audios__artista {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}
.audios__imagenContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.audios__imagen {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  margin: 0 auto;
  margin-bottom: 20px;
}
.audios__informacion--show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.audios__botones {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* align-items: center;
  justify-content: space-between; */
  column-gap: 10px;
  row-gap: 10px;
  padding: 0 10px;
}
.audios__botones div.flex {
  width: fit-content;
}
.audios__botones div.flex:first-child {
  margin-right: auto;
}
.audios__botones div.flex:last-child {
  margin-left: auto;
}
.audios__boton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  background: transparent;
  transition: all 0.3s ease;
  border-radius: 50%;
}
.audios__boton.active,
.audios__boton.active:hover {
  color: #02be6e;
  background: #333333;
}
.audios__boton:hover {
  color: #fff;
  background: #333333;
}
.audios__boton svg {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
}
.rango {
  width: 100%;
  height: 7px;
  background: #0f4211;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.rango__progreso {
  width: 50%;
  height: 100%;
  background: #63ff69;
  position: relative;
  cursor: pointer;
}
.rango__progreso::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -7px;
  width: 14px;
  height: 14px;
  background: #63ff69;
  border-radius: 50%;
  transform: translateY(-50%);
}
.audios__volumen {
  position: relative;
}
.audios__volumen .rango--rotate {
  position: absolute;
  top: -36px;
  height: 10px;
  transform: rotate(-90deg);
  z-index: 1;
}
.audios__volumen .rango--rotate .rango__progreso::before {
  right: -10px;
  width: 20px;
  height: 20px;
}

/*=============== imagen, video, audio ===============*/
.contenedor__imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}
.contenedor__item {
  flex: 1;
  height: 280px;
  position: relative;
  background: #202020;
}
.contenedor__item:hover .contenedor__description {
  opacity: 1;
  visibility: visible;
}
.contenedor__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.contenedor__description {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.2s ease all;
  pointer-events: none;
}
.contenedor__descargar,
.verVideo {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #02be6e;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  pointer-events: all;
}
.verVideo {
  pointer-events: none;
}
.contenedor__descargar svg,
.verVideo svg {
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  pointer-events: none;
}
.contenedor__user {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.contenedor__userImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.contendor__userText {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
.contenedor__botones {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin: 30px 0;
  margin-top: 50px;
}
.contenedor__botones .boton {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}
.contenedor__paginaTotales {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: var(--black-all);
}
/*=============== modal config  ===============*/
.modal__usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}
.modal__imagenUsuario {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.modal__userText {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}
.modal__arroba {
  font-size: 12px;
  color: var(--gray);
}
.modal__opciones {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
#tooltip-subir-recuerdo {
  display: none;
}
@media (max-width: 768px) {
  .modal__opciones button span,
  .modal__botones button span,
  .btn-upload span {
    display: none;
  }
  #tooltip-subir-recuerdo {
    display: block;
  }
}
.modal__image {
  width: 100%;
  position: relative;
}
.modal__image img,
.modal__image video {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: contain;
  background: #161616;
}
.moda__fullScreen {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: var(--white);
  pointer-events: none;
}
.moda__fullScreen svg {
  width: 3vh;
  height: 3vh;
  pointer-events: none;
}
.fullScreen {
  display: block;
  cursor: pointer;
  pointer-events: auto;
}
.exitScreen {
  display: none;
  cursor: pointer;
  pointer-events: auto;
}
.modal__image.active .fullScreen {
  display: none;
}
.modal__image.active .exitScreen {
  display: block;
}
.modal__bottom {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
.modal__descripcion {
  flex: 1;
  display: flex;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.modal__destiTulo {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  padding-left: 0;
  font-size: 14px;
  letter-spacing: 0.9px;
}
.modal__descText {
  font-size: 13px;
  padding-left: 5px;
  letter-spacing: 0.9px;
}
.modal__botones {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: auto;
}
.modal__btn {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}
/*=============== modal__compartir ===============*/
.modal__compartir {
  width: 100%;
}
.modal__compartir__item {
  margin-bottom: 10px;
}
.modal__compartir__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background: #161616;
}
.modal__compartir__usuarios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.modal__compartir__usuario {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background: #161616;
}
.modal__compartir__usuario button {
  margin-left: auto;
}
.modal__compartir__imagenUsuario {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.modal__compartir__userText {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #f2f2f2;
}
.modal__compartir__arroba {
  font-size: 12px;
  font-weight: 500;
  color: #7e7e7e;
}
.modal__info {
  width: 100%;
}
.modal__info b {
  font-size: 14px;
  font-weight: 700;
  color: #a5a5a5;
}
.modal__info span {
  font-size: 14px;
  font-weight: 700;
  color: #7e7e7e;
}
.modal__enlace {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  background: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
}
.modal__enlace pre {
  font-size: 14px;
  font-weight: 700;
}
.modal__enlace button {
  margin-left: auto;
  background: #2c2c2c;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 14px;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.3s;
} /* 
@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

::view-transition-old(figure-caption),
::view-transition-new(figure-caption) {
  height: auto;
  right: 0;
  left: auto;
  transform-origin: right center;
}

::view-transition-old(figure-caption) {
  animation: 0.25s linear both shrink-x;
}

::view-transition-new(figure-caption) {
  animation: 0.25s 0.25s linear both grow-x;
}
 */
